.top{
    background-color: forestgreen;
    padding: 20px;
    display: flex;
    border: 5px darkgreen;
    border-radius: 5px;
   /* justify-content: center; */
}

.top .title{
    align-items: center;
    color: white;
}

.top .user-button{
    position: absolute;
    padding: 5px;
    border-radius: 6px;
    border-color: azure;
    top: 50px;
    right: 40px;
}

.site-body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.site-body div{
    margin: 30px;
}

.session-body{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 120px;
}

.session-body div{
    color: dimgrey;
    margin-top: 50px;
}

.session-body .division{
    background-color: darkgrey;
    padding: 0.8px;
    height: 350px;
}

.session-body .create-account,
.session-body .initiate-session{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align-content{
    margin: 5px;
}

.session-body .button{
    margin-top: 5px;
    margin-left: auto;
}

