body{
    margin: 0;
    height: 100%;
}

/*
.statistics-background{
   background-color: ;
}
*/

.stats-entity-title{
    margin-top: 1%;
    margin-left: 1%;
}

.stats-entity-paragraph{
    border-bottom: solid 1px #C0C6CF;
}

.stats-entity-container{
    border-right: solid 1px #C0C6CF;
}

.util-solo-byNumber_StatsEntity,
.util-solo-byArea_StatsEntity{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 40% !important;
    height: 80% !important;
}
