html, body{
    margin: 0;
    height: 100%;
}

#root{
    height:100%;
}

.buttons_AllParcelsAdmin{
    background-color: #BDD8C4;
    border: solid 1px #32443A;
    height: 60px;
    width: 100%;
}

#dropdown-distrito_AllParcelsAdmin{
    margin-top: 2%;
    margin-left: 90%;
    margin-bottom: 3%;
}

#dropdown-concelho_AllParcelsAdmin{
    margin-top: 2%;
    margin-left: 75%;
    margin-bottom: 3%;
}

#dropdown-freg_AllParcelsAdmin{
    margin-top: 2%;
    margin-left: 55%;
    margin-bottom: 3%;
}

#search_AllParcelsAdmin{
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 3%;
}

#allParcelsAdminBody{
    display: flex;
    background-color: #e0e3d5;
    min-height: calc(100% - 120px);
    width: 100%;
    height: calc(100% - 120px);
}

.body_AllParcelsAdmin{
    background-color: #e0e3d5;
    height: auto;
    width: 100%;
    overflow-y: scroll;
}

.container_AllParcelsAdmin{
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 10px;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 20px;
}

.container_AllParcelsAdmin .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.container_AllParcelsAdmin .card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.parcel-card_AllParcelsAdmin{
    margin: 1px;
    border-color: #32443A;
    background-color: rgba(218, 240, 252, 1);
}

.parcel-card_AllParcelsAdmin button{
    border: none;
    border-radius: 0;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: #B0C090;
    text-align: center;
    cursor: pointer;
}

.parcel-card_AllParcelsAdmin button:hover{
    background-color: #3E503A;
    border-color: #3E503A;
}

.parcel_picture_AllParcelsAdmin{
    height: 200px;
    width: 100%;
}

.buttons-editParcelModal_ApproveParcels{
    margin-top: 1%;
}

#rollback-editParcelModal_ApproveParcels,
#confirmNewCoord-editParcelModal_ApproveParcels{
    border-radius: 2px;
    margin-right: 3%;
}

#newA-editParcelModal_ApproveParcels,
#newP-editParcelModal_ApproveParcels{
    margin-left: 1%;
    margin-right: 5%;
}

.labels-editParcelModal_ApproveParcels{
    margin-top: 1%;
}

#cobertSolo-editParcelModal_ApproveParcels,
#utilAtSolo-editParcelModal_ApproveParcels,
#utilPrevSolo-editParcelModal_ApproveParcels{
    margin-top: 2%;
}


