body{
    margin: 0;
    height: 100%;
}

.cl_top{
    background-color: rgb(169, 196, 114);
    height: 60px;
    display: flex;
}

.cl_logo{
    padding: 10px;
    width: 16%;
}

.bg-img{
    background-image: url("background-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% - 60px);
    position: relative;
}

.session-body{
    background-color: rgba(189, 216, 196, 0.85);
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 900px;
    padding-bottom: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 90px;
}

.session-body .create-account,
.session-body .initiate-session{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: dimgrey;
    margin-top: 40px;
}

.session-body .session-form {
    margin-top: 10px;
    margin-bottom: 8px;
    border: 0.3px solid black;
    border-radius: 0.25rem;
}

.session-body #session-button {
    margin-top: 6px;
}

.session-body .division{
    background-color: darkgrey;
    padding: 0.8px;
    height: 500px;
    margin-top: 50px;
}

.session-body .create-form {
    margin-bottom: 8px;
    border: 0.3px solid black;
    border-radius: 0.25rem;
}

.session-body .create-form-special-outside {
    margin-bottom: 8px;
}

.create-form-special-inside {
    border: 0.3px solid black;
    border-radius: 0.25rem;
}

.create-account form{
    margin-top: 8px;
}

.green-text{
    color: #3E503A;
}

.session-body button{
    background-color: #32443A;
    opacity: 0.9;
    border: none;
    outline: 0;
    text-align: center;
    cursor: pointer;
}

.session-body button:hover{
    background-color: #32443A;
    opacity: 1;
}

.align-content{
    margin: 2px;
}
