body,html{
    margin: 0;
    height: 100%;
}

.bg-img_RecoverRequest{
    background-image: url("background-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% - 60px);
    position: relative;
}

.body_RecoverRequest{
    background-color: rgba(189, 216, 196, 0.85);
    margin: auto;
    align-self: center;
    width: 50%;
    padding-bottom: 2%;
    border-radius: 10px;
    color: dimgrey;
}

.title_RecoverRequest{
    margin-bottom: 2%;
    margin-left: 20%;
    align-self: center;
    color: #3E503A;
}

.description_RecoverRequest{
    margin-bottom: -4%;
    margin-left: 15%;
    align-self: center;
}

#email_RecoverRequest{
    width: 40%;
    border: 0.3px solid black;
    border-radius: 0.25rem;
    margin-left: 31%;
    margin-right: 1%;
}

#button_RecoverRequest{
    margin-top: 15%;
    margin-left: -36%;
    border: none;
    border-radius: 0;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: #3E503A;
    text-align: center;
    cursor: pointer;
}

#button_RecoverRequest:hover{
    background-color: #b0c090;
    border-color: #b0c090;
    color: black;
}

.button-return_RecoverRequest button{
    border: none;
    border-radius: 0;
    outline: 0;
    display: inline-block;
    color: black;
    background-color: #b0c090;
    text-align: center;
    cursor: pointer;
    transform: translate(174%, 50%);
}

.button-return_RecoverRequest button:hover{
    background-color: #3E503A;
    border-color: #3E503A;
}
