html, body{
    margin: 0;
    height: 100%;
}

#root{
    height:100%;
}

/*
.body_ReportsTechnician{
    background-color: rgba(189, 216, 196, 0.65);
}
 */

.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#confirm-report_ReportsTechnician{
    border: none;
    border-radius: 0;
    outline: 0;
    display: inline-block;
    background-color: #3E503A;
    color: white;
    text-align: center;
    cursor: pointer;
}

#confirm-report_ReportsTechnician:hover{
    background-color: #b0c090;
    border-color: #b0c090;
    color: black;
}

#ignore-report_ReportsTechnician{
    border: none;
    border-radius: 0;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: darkgrey;
    text-align: center;
    cursor: pointer;
}

#ignore-report_ReportsTechnician:hover{
    border: none;
    border-radius: 0;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: gray;
    text-align: center;
    cursor: pointer;
}

#decline-report_ReportsTechnician{
    border: none;
    border-radius: 0;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: brown;
    text-align: center;
    cursor: pointer;
 }

#decline-report_ReportsTechnician:hover{
    background-color: maroon;
    border-color: maroon;
}

