body,html{
    margin: 0;
    height: 100%;
}

.bg-img_ChangePassword{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("background-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% - 60px);
    position: relative;
}

.body-changePassword{
    background-color: rgba(189, 216, 196, 0.85);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border-radius: 10px;
}

.title_ChangePassword{
    margin-bottom: 2%;
    margin-left: 21%;
    align-self: center;
    color: #3E503A;
}

.alignFields_ChangePassword{
    margin-left: 20%;
}

.fields_ChangePassword{
    margin-bottom: 8px;
    border: 0.3px solid black;
    border-radius: 0.25rem;
}

#old-password_ChangePassword{
    width: 47%;
}

#new-password_ChangePassword{
    width: 48%;
}

#confirm-password_ChangePassword{
    width: 35%;
}

#confirmAndCancel_ChangePassword{
    margin-top: 3%;
    margin-left: 25%;
    gap: 10%;
}

#confirmButton_ChangePassword{
    width: 120%;
    border: none;
    border-radius: 0;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: #3E503A;
    text-align: center;
    cursor: pointer;
}

#confirmButton_ChangePassword:hover{
    background-color: #32443A;
}

#cancelButton_ChangePassword{
    width: 120%;
    border: none;
    border-radius: 0;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: gray;
    text-align: center;
    cursor: pointer;
}

#cancelButton_ChangePassword:hover{
    background-color: dimgray;
}
