body,html{
    margin: 0;
    height: 100%;
}

.bg-img_ChangePassword{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("background-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% - 60px);
    position: relative;
}

.body-changePassword{
    background-color: rgba(189, 216, 196, 0.85);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border-radius: 10px;
}

.title_ChangePassword{
    margin-bottom: 2%;
    margin-left: 21%;
    align-self: center;
    color: dimgrey;
}

.fields_ChangePassword{
    margin-bottom: 8px;
    border: 0.3px solid black;
    border-radius: 0.25rem;
}

#old-password_ChangePassword{
    width: 45%;
}

#new-password_ChangePassword{
    width: 46%;
}

#confirm-password_ChangePassword{
    width: 35%;
}

#confirm_ChangePassword{
    padding: 5px;
    margin-left: -2%;
}

#cancel_ChangePassword{
    padding: 5px;
    margin-left: 1%;
}