body{
    margin: 0;
}

.topBar_top{
    background-color: rgb(169, 196, 114);
    height: 60px;
    display: flex;
}

.topBar_top .topBar_logo{
    padding: 10px;
    width: 16%;
}

.buttons_TopBar{
    position: absolute;
    margin-left: 12%;
    margin-top: 0.5%;
}

.topBar-buttons{
    background: rgb(169, 196, 114);
    border: rgb(169, 196, 114);
    font-size: 20px;
}

.close-session-button{
    margin-left: auto;
    margin-right: 15px;
    margin-top: 10px;
}

