.top{
    background-color: forestgreen;
    height: 100px;
    display: flex;
    border: 5px darkgreen;
    border-radius: 5px;
}

.top .title{
    display: flex;
    align-items: center;
    color: white;
    padding: 20px;
}

.top .session-button{
    position: absolute;
    padding: 5px;
    border-radius: 6px;
    border-color: azure;
    top: 50px;
    right: 40px;
    transform: translate(0, -50%); /* Center the button */
}