.profileInfo_ChangeProfile {
    border: solid lightgrey;
    border-radius: 5px;
    width: 25%;
    height: auto;
    padding: 5px;
    margin: 10px;
}

.profileInfo_ChangeProfile .label{
    margin: 4px;
}

#confirmChanges_ChangeProfile,
#cancelChanges_ChangeProfile {
    padding: 5px;
}


