.profileInfo_ChangeProfile {
    border: solid lightgrey;
    border-radius: 5px;
    width: 25%;
    height: auto;
    padding: 5px;
    margin: 10px;
}

.profileInfo_ChangeProfile .label{
    margin: 4px;
}

#change-complete-name,
#change-phone,
#change-nif{
    margin-bottom: 8px;
    border: 0.3px solid black;
    border-radius: 0.25rem;
}

#confirmChanges_ChangeProfile,
#cancelChanges_ChangeProfile {
    padding: 5px;
}


