body, html{
    margin: 0;
    height: 100%;
}

.stats-technician-title{
    margin-top: 1%;
    margin-left: 1%;
}

.stats-technician-paragraph{
    border-bottom: solid 1px #C0C6CF;
}

.stats-technician-container{
    border-right: solid 1px #C0C6CF;
}

.util-solo-byNumber_StatsTechnician,
.util-solo-byArea_StatsTechnician{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 40% !important;
    height: 80% !important;
}
