body,html{
    margin: 0;
    height: 100%;
}

.bg-img_UploadCSV{
    background-image: url("background-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% - 60px);
    position: relative;
}

.body_UploadCSV{
    background-color: rgba(189, 216, 196, 0.85);
    margin: auto;
    align-self: center;
    width: 50%;
    padding-bottom: 2%;
    border-radius: 10px;
    color: dimgrey;
}

.title_UploadCSV{
    margin-bottom: 2%;
    margin-left: 26%;
    align-self: center;
}

.file-input_UploadCSV{
    margin-left: 2%;
    width: 95%;
}

#button_UploadCSV{
    margin-top: 1%;
    margin-left: 2%;
}