.mapDiv_Map{
    display: flex;
}

.submit_Map{
    width: 10%;
    height: 10%;
    align-self: self-start;
    margin: 20px;
}

.map_fields{
    border: 0.3px solid black;
    border-radius: 0.25rem;
}



