.mapDiv_Map{
    display: flex;
}

.submit-buttons_Map{
    width: 10%;
    height: 10%;
    align-self: self-start;
    margin: 20px;
}

#distrito-dropdown_Map,
#concelho-dropdown_Map,
#freguesia-dropdown_Map{
    margin-top: 20px;
}

