body, html{
    margin: 0;
    height: 100%;
}

#root{
    height:100%;
}

.rankings-background{
    margin-top: -0.95%;
    background-color: rgba(189, 216, 196, 0.35);
}

.rankings-title{
    margin-top: 1%;
    margin-left: 1%;
}

.rankings-container{
    border: solid 1px #C0C6CF;
}

#userTrust_Rankings,
#biggerArea_Rankings,
#mostParcels_Rankings{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80% !important;
    background-color: #b0c090;
    color: white;
    --bs-table-striped-color: white;
}