html, body{
    margin: 0;
    height: 100%;
}

#root{
    height:100%;
}

.proposedParcelsEntityBody{
    background-color: rgba(189, 216, 196, 0.65);
    min-height: calc(100% - 60px);
    width: 100%;
}

.container_ProposedParcelsEntity{
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 10px;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 40px;
}

.container_ProposedParcelsEntity .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.container_ProposedParcelsEntity .card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.parcel-card_ProposedParcelsEntity{
    margin: 1px;
    border-color: #32443A;
    background-color: rgba(255,255,255,0.6);
}

.parcel-card_ProposedParcelsEntity button{
    border: none;
    border-radius: 0;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: #B0C090;
    text-align: center;
    cursor: pointer;
}

.parcel-card_ProposedParcelsEntity button:hover{
    background-color: #3E503A;
    border-color: #3E503A;
}

.parcel_picture{
    height: 200px;
    width: 100%;
}

#confirm-parcel_ProposedParcelsEntity{
    background-color: #3E503A;
    color: white;
    border: solid 1px #32443A;
}

#reject-parcel_ProposedParcelsEntity{
    background-color: brown;
    color: white;
    border: solid 1px brown;
}

#report-parcel_ProposedParcelsEntity{
    background-color: #800000;
    border: solid 1px #800000;
    color: white;
}