html, body{
    margin: 0;
    height: 100%;
}

#root{
    height:100%;
}

.body_AllParcels{
    background-color: #e0e3d5;
    height: auto;
    width: 100%;
    overflow-y: scroll;
}

.allParcelsBody{
    background-color: #e0e3d5;
    min-height: calc(100% - 60px);
    width: 100%;
}

.chooseFreguesia_AllParcels{
    padding-top: 20px;
    padding-left: 30px;
}

.container_AllParcels{
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 10px;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 20px;
}

.container_AllParcels .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.container_AllParcels .card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.parcel-card_AllParcels{
    margin: 1px;
    border-color: #32443A;
    background-color: rgba(218, 240, 252, 1);
}

.parcel-card_AllParcels button{
    border: none;
    border-radius: 0;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: #B0C090;
    text-align: center;
    cursor: pointer;
}

.parcel-card_AllParcels button:hover{
    background-color: #3E503A;
    border-color: #3E503A;
}

.parcel_picture{
    height: 200px;
    width: 100%;
}

.buttons-editParcelModal_ApproveParcels{
    margin-top: 1%;
}

#rollback-editParcelModal_ApproveParcels,
#confirmNewCoord-editParcelModal_ApproveParcels{
    border-radius: 2px;
    margin-right: 3%;
}

#newA-editParcelModal_ApproveParcels,
#newP-editParcelModal_ApproveParcels{
    margin-left: 1%;
    margin-right: 5%;
}

.labels-editParcelModal_ApproveParcels{
    margin-top: 1%;
}

#cobertSolo-editParcelModal_ApproveParcels,
#utilAtSolo-editParcelModal_ApproveParcels,
#utilPrevSolo-editParcelModal_ApproveParcels{
    margin-top: 2%;
}


#allParcelsBody{
    display: flex;
    height: 93.5%
}