body,html{
    margin: 0;
    height: 100%;
}

#root{
    height: 100%;
}

.bg-img_MakeReport{
    background-image: url("background-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% - 60px);
    position: relative;
}

.report-body_MakeReport{
    background-color: rgba(189, 216, 196, 0.85);
    margin: auto;
    align-self: center;
    width: 50%;
    padding-bottom: 2%;
    border-radius: 10px;
    color: dimgrey;
}

.title_MakeReport{
    margin-left: 29%;
    align-self: center;
}

.description_MakeReport{
    margin-top: 2%;
    margin-left: 2%;
}

.report-parcel-form{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

#topic_MakeReport,
#msg_MakeReport{
    border: 1px solid black;
    border-radius: 0.25rem;
}

#submit_MakeReport{
    margin-top: 2%;
    margin-left: 2%;
    border: none;
    border-radius: 0;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: #3E503A;
    text-align: center;
    cursor: pointer;
}

#submit_MakeReport:hover{
    background-color: #b0c090;
    border-color: #b0c090;
    color: black;
}

#cancel_MakeReport{
    margin-top: 2%;
    margin-left: 2%;
    border: none;
    border-radius: 0;
    outline: 0;
    display: inline-block;
    color: black;
    background-color: darkgrey;
    text-align: center;
    cursor: pointer;
}

#cancel_MakeReport:hover{
    background-color: gray;
    border-color: gray;
    color: white;
}


