body,html{
    margin: 0;
    height: 100%;
}

.bg-img_FindUser{
    background-image: url("background-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% - 60px);
    position: relative;
}

.body_FindUser{
    background-color: rgba(189, 216, 196, 0.85);
    margin: auto;
    align-self: center;
    width: 50%;
    padding-bottom: 2%;
    border-radius: 10px;
    color: dimgrey;
}

.title_FindUser{
    margin-bottom: 2%;
    margin-left: 27%;
    align-self: center;
}

.description_FindUser{
    margin-top: -1%;
    margin-bottom: 2%;
    margin-left: 27%;
    align-self: center;
}

#username_finduser{
    margin-left: 35%;
}

#button_FindUser{
    margin-left: 3%;
    border: none;
    border-radius: 0;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: #3E503A;
    text-align: center;
    cursor: pointer;
}

#button_FindUser:hover{
    background-color: #b0c090;
    border-color: #b0c090;
    color: black;
}

.input-modal_FindUser{
    margin-left: 1%;
}

#confirm-modal_FindUser{
    margin-top: 4%;
    border: none;
    border-radius: 0;
    outline: 0;
    display: inline-block;
    color: black;
    background-color: #b0c090;
    text-align: center;
    cursor: pointer;
}

#confirm-modal_FindUser:hover{
    background-color: #3E503A;
    border-color: #3E503A;
    color: white;
}