

.mapDiv_Map{
    display: flex;
    height: calc(100% - 60px);
}

.wrapper {
    max-height: calc(100vh - 60px);
    width: 25vw;
}

.submit_Map{
    width: calc(70% - 40px);
    max-height: calc(100% - 0px);
    align-self: self-start;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.submit_Map::-webkit-scrollbar {
    display: none;
}

.map_fields{
    border: 1px solid black;
    border-radius: 0.25rem;
}

#sideBar{
    width: 30%;
    height: 100%;
    float: left;
}

#rollback.btn-success{
    background-color: #d4caa5;
    box-shadow: none;
    border-color: #8c8468;
}

.latlng_input{
    width: 90%;
    margin: auto;
}

#rollback{
    border-radius: 0 0 5px 0;
    height: 33%;
    width: 100%;
    border: 1px solid black;
}

#parcelInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 5px 0 0;
    height: 34%;
    background-color: #b0c090;
    border: 1px solid black;
}

#parcelAddPoint{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 0 5px 0 0;
    height: 33%;
    background-color: #daf0fc;
    border: 1px solid black;
    padding-top: 10px;
}

#parcelInfo div{
    width: 100%;
    float: left;
    margin-left: auto;
    text-align: center;
}

#parcelAddPoint div{
    width: 100%;
    float: left;
    margin-left: auto;
    text-align: center;
}

#submit_latlng{
    margin: auto;
    width: 90%;
}

.MapInfo_Map{
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}