body,html{
    margin: 0;
    height: 100%;
}

.bg-img_Profile{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("background-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% - 60px);
    position: relative;
}

.profile_info{
    background-color: rgba(189, 216, 196, 1);
    border: rgba(189, 216, 196, 1);
    border-radius: 5px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.profile_pic {
    width: 60%;
    border: solid grey 0.5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.label_Profile{
    margin-left: 2%;
}

.badge_Profile{
    height: 30px;
    width: 10%;
    font-size: large;
}

#badge-2_Profile{
    color: black;
}

#change-profile-info{
  margin-left: 5%;
  margin-bottom: 2%;
}

#changeProfileButton_Profile{
    width: 100%;
    border: none;
    border-radius: 0;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: gray;
    text-align: center;
    cursor: pointer;
}

#changeProfileButton_Profile:hover{
    background-color: dimgray;
}

#changePasswordButton_Profile{
    width: 140%;
    border: none;
    border-radius: 0;
    outline: 0;
    display: inline-block;
    color: black;
    background-color: #FFD300;
    text-align: center;
    cursor: pointer;
}

#changePasswordButton_Profile:hover{
    background-color: #FFBB25;
}
